body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://images3.alphacoders.com/144/144565.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-title2 {
  color: #ffffff;
  margin: 0 0 5px;
}

.otaku-color {
  color: #ffffff;
  background-color: red;
  padding: 4px;
}

.page-subtitle {
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#listaAnimes img {
  margin: 10px;
  max-height: 250px;
}

#listaAnimes img:hover {
  transform: scale(1.2);
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

#mensagemDeErro {
  color: red;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: red;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.9);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.4);
  }
}

.form-wrapper button:hover {
  opacity: 0.8;
}